@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Example of web app and web API, which extracts information about satellites form <a href="https://space.oscar.wmo.int/satellites">database</a>.</p>
</div>